# Backend directories
dist/
node_modules/
logs/

# Git-related files
.git/
.gitignore

# Docker-related files
Dockerfile
.dockerignore

# Enviornment files
.env*
!.env.production

# Testing files
tests/
jest.config.ts
vercel.json
