# Example .env file. Remove this comment and change the values here before using it.
BACKEND_PORT=3000
CANVAS_PUBLIC_API_TOKEN="<PERSONAL CANVAS API TOKEN GOES HERE>"
USERNAME="<MONGODB USERNAME GOES HERE>"
PASSWORD="<MONGODB PASSWORD GOES HERE>"
DEPLOYMENT_NAME="Cluster0"
MONGO_DB_NAME="VTDigitalAssessment"
CANVAS_OBJECTIVE_COLLECTION_NAME="CanvasObjectives"
CANVAS_QUIZZES_COLLECTION_NAME="CanvasQuizzes"
CANVAS_USER_API_COLLECTION_NAME="CanvasUserApiKeys"
