.success-message,
.failure-message,
.progress-message {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.success-message.hidden,
.failure-message.hidden,
.progress-message.hidden {
  opacity: 0;
}
